---
---

@import "normalize";
@import "friendly";
@import "responsive_layout";
@import "responsive_fonts_5fs";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

/* ================================================== */
/* color definition */

:root {
    --pagebg: #F0F1F2;

    --headerbg: #258;
    --headerfg: #F0F1F2;
    --headerlinkactive: #ACE;

    --headlinefg: #444;

    --contentbg: #FCFDFE;
    --contentfg: #222;
    --contentlinkactive: #246;

    --codebg: #F8F8F8;
    --shadow: #888;
}

/* ================================================== */
/* basic fonts and colors */

html, body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: var(--contentbg);
    color: var(--contentfg);
}

@media (min-width: 640px) {
    html, body {
        background-color: var(--pagebg);
    }
}

#sidebar-box span,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}
header * {
    font-family: 'Noto Sans', sans-serif;
}

/* ================================================== */
/* header */

header {
    position: sticky;
    top: 0px;
    z-index: 100;
    opacity: 0.95;
    background-color: var(--headerbg);
    color: var(--headerfg);

    h1, a {
        font-size: var(--h1size);
        font-weight: 700;
        line-height: 1em;
        margin: 0;
        color: inherit;
        text-align: center;
    }
    #header {
        margin: calc(var(--h1size) * 0.5) 0;
        @media (min-width: 900px) {
            margin: calc(var(--h1size) * 0.7) 0;
        }
    }
}

/* ================================================== */
/* header menu icon */

#header {
    .fas {
        display: none;
        color: inherit;
        font-size: calc(var(--h1size) * 0.8);
        text-align: center;
        margin: 10px;
    }
    .fas.show-icon {
        display: block;
    }
    @media (min-width: 900px) {
        .fas.show-icon {
            display: none;
        }
    }
}

/* ================================================== */
/* sidebar */

#sidebar {
    display: none;
    text-align: center;
}
#sidebar.show-menu {
    display: block;
}

@media (min-width: 900px) {
    #sidebar {
        display: block;
        text-align: left;
    }
}

#sidebar-box {
    padding: 20px 20px;

    span {
        line-height: 1.35;
        margin-top: 25px;
        margin-bottom: 16px;
        font-weight: 500;
        color: var(--headlinefg);
        font-size: var(--h4size);
    }
}

/* ================================================== */
/* content */

#content.show-menu {
    display: none;
}

@media (min-width: 900px) {
    #content {
        display: block;
    }
}

#content-box {
    h1, h2, h3 {
        font-weight: 500;
        color: var(--headlinefg);
    }
    h1:first-child {
        margin-top: 0px;
        margin-bottom: 40px;
        text-align: center;
    }
    h1::after {
        display: block;
        content: "";       
        height: 4px;
        background: var(--headerbg);
        opacity: 0.9;
        border-radius: 2px;
        width: 80%;
        margin: 10px auto 0px auto;
    }
}

/* ================================================== */
/* sidebar and content */

#sidebar,
#content {
    margin: 0px;
}
#sidebar-box,
#content-box {
    margin: 0px auto;
    background-color: var(--contentbg);
}

@media (min-width: 640px) {
    #sidebar,
    #content {
        padding: 15px 15px;
    }
    #sidebar-box {
        padding: 30px 20px;
        border-radius: 4px;
    }
    #content-box {
        padding: 40px 30px;
        border-radius: 4px;
    }
    #sidebar-box span:first-child {
        margin-top: 0px;
    }
}

@media (min-width: 900px) {
    #sidebar,
    #content {
        padding: 15px 15px;
    }
    #sidebar {
        padding-right: 0px;
    }
    #sidebar-box {
        padding: 30px 20px;
        border-radius: 4px;
    }
    #content-box {
        padding: 40px 40px;
        border-radius: 4px;
    }
}

/* ================================================== */
/* links */

a {
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}
#header a:active, #header a:hover {
    color: var(--headerlinkactive);
}
#footer a,
#content a,
#sidebar a {
    color: var(--headerbg);
}
#footer a:active, #footer a:hover,
#content a:active, #content a:hover,
#sidebar a:active, #sidebar a:hover {
    color: var(--contentlinkactive);
}
#footer a:hover,
#content a:hover,
#sidebar a:hover {
    text-decoration: underline;
}

/* ================================================== */
/* horizontal line */

hr {
    color: var(--headerbg);
}

/* ================================================== */
/* blockquotes, notes */

blockquote {
    padding-left: 10px;
    margin: 20px;
    margin-left: 12px;
    border-left: 4px solid var(--headerbg);
}
p.note {
    padding: 15px;
    margin: 20px 0 20px 0;
    box-shadow: 0px 0px 8px 0px var(--shadow);
}

/* ================================================== */
/* code blocks */

pre.highlight {
    font-size: 0.9em;
    background-color: var(--codebg);
    padding: 15px;
    margin: 30px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: auto;
}
pre code {
    background-color: var(--codebg);
}

/* ================================================== */
/* math */

.mjx-math {
    font-size: 1.15rem;
}

/* ================================================== */
/* images / videos */

#content {
    img, video {
        display: block;
        max-width: 100%;
        padding: 15px;
        margin: 0px auto;
        margin-bottom: 10px;
        box-shadow: 0px 0px 8px 0px var(--shadow);
    }
    p.img, div.video {
        margin: 40px 0;
    }
    p.img, div.video p {
        font-size: 0.85em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    @media (min-width: 640px) {
        div.video.w90 video,
        div.video.w90 p {
            width: 90%;
        }
        div.video.w80 video,
        div.video.w80 p {
            width: 80%;
        }
        div.video.w70 video,
        div.video.w70 p {
            width: 70%;
        }
        div.video.w60 video,
        div.video.w60 p {
            width: 60%;
        }
        div.video.w50 video,
        div.video.w50 p {
            width: 50%;
        }
    }
}

/* ================================================== */
/* lists */

#content-box {
    ul {
        list-style: disc;
        padding-left: 25px;
        margin-top: 0;
    }
}

#sidebar-box {
    ul {
        list-style: none;
        padding-left: 0px;
    }
    ul.top-ul {
        margin-bottom: 1.5em;

        span.top-li {
            display: block;
            margin-bottom: 1em;
            font-weight: 600;
        }
        span.top-li::before,
        span.top-li::after {
            display: block;
            content: "";       
            height: 2px;
            background: var(--headerbg);
            opacity: 0.9;
            border-radius: 1px;
            width: 40%;
            margin: 5px auto;
            
            @media (min-width: 900px) {
                width: 100%;
            }
        }
        ul {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
            
            @media (min-width: 900px) {
                font-size: 0.9em;
            }
        }
        > li li {
            margin-top: 1em;
            line-height: 1.2em;
        }
    }
}

/* ================================================== */
/* footer */

#footer-wrapper {
    border-top: 2px solid var(--headerbg);
}
#footer p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ================================================== */
/* misc */

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.3em 0.6em;
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

@media (max-width: 899px) {
    .breakout {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

