<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site.google_site_verification_key %}
    <meta name="google-site-verification" content="{{ site.google_site_verification_key }}" />
    {% endif %}
    {% if page.tags %}
    <meta itemprop="keywords" content="{{ page.tags }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome-all.min.css' | relative_url }}" type="text/css">
    <title>{{ page.title }}</title>
    {% if page.mathjax %}
    <!-- http://docs.mathjax.org/en/latest/ -->
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    {% endif %}
    {% seo %}
  </head>
  <body>
    <header>
      <div id="header-wrapper">
        <div id="header">
          <a href="{{ site.url }}">
            <h1>{{ site.title }}</h1>
          </a>
          <div>
            <i class="fas fa-bars show-icon"></i>
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
    </header>
    <div id="content-wrapper" class="clearfix">
      <aside id="sidebar">
        <nav id="sidebar-box">
          <div class="toc">
            {% for cat in site.data.navigation.categories %}
            <ul class="toc-categories">
              <li>{{ cat.name }}
                <ul class="toc-cat-pages">
                  {% for page_name in cat.page_names %}{% for page in site.pages %}{% if page_name == page.name %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                  {% endif %}{% endfor %}{% endfor %}
                  {% for page_name in cat.docs_names %}{% for page in site.github.public_repositories %}{% if page_name == page.name %}
                    <li><a href="https://{{ site.github.owner_name }}.github.io/{{ page.name }}">{{ page.description }}</a></li>
                  {% endif %}{% endfor %}{% endfor %}
                  {% for page_name in cat.repo_names %}{% for page in site.github.public_repositories %}{% if page_name == page.name %}
                    <li><a href="{{ page.html_url }}">{{ page.description }}</a></li>
                  {% endif %}{% endfor %}{% endfor %}
                  {% for page_name in cat.repo_names %}{% if page_name == "overview" %}
                    <li><a href="https://github.com/{{ site.github.owner_name }}">Overview</a></li>
                  {% endif %}{% endfor %}
                </ul>
              </li>
            </ul>
            {% endfor %}
          </div>
        </nav>
      </aside>
      <section id="content" class="clearfix">
        <div id="content-box">
          {{ content }}
        </div>
      </section>
    </div>
    <div id="footer-wrapper">
      <footer id="footer">
        <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        <p><a href="https://help.github.com/en/articles/github-privacy-statement">GitHub Privacy Statement</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
  </body>
</html>

